body{
	font-family: 'Raleway', sans-serif !important;

}

#todo {
	&.default {
		@include colores ($crim, $crimDark);
	}
	&.crimson {
		@include colores ($crim, $crimDark);
	}
	&.blueLight {
		@include colores ($blueLight, $blueDark);
	}
	&.blueDark {
		@include colores ($blueDark, $blueLight);
	}
	&.rojo {
		@include colores ($rojo, $naranja);
	}
	&.naranja {
		@include colores ($naranja, $amarillo);
	}
	&.amarillo {
		@include colores ($amarillo, $verde);
	}
	&.verde {
		@include colores ($verde, $crim);
	}
}

#elige {
	height:60px;
	.cajita {
		display: inline;
		font-size:25px;
		line-height: 50px;
		.fa {
			display: inline;
			&:hover {
				font-size: 28px;
			}
		}
		&.crim {
			color: $crim;
		}
		&.claro {
			color: $blueLight;
		}
		&.oscuro {
			color: $blueDark;
		}
		&.rojo {
			color: $rojo;
		}
		&.naranja {
			color: $naranja;
		}
		&.amarillo {
			color: $amarillo;
		}
		&.verde {
			color: $verde;
		}
	}
}