body {
	background: url("../img/bg3.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
}

#reloj {
	.clock {
		h1 {
			display: inline;
			font-size:80px;
		}
		color: white;
		margin-top: 100px;
	}
	.fecha {
		h4 {
			display: inline;
			}
		color: white;
		margin-top: 60px;
			}

	.btn {
		margin-top: 60px;
	}
}

#mundial {
	color: white;
}

#myModal {
	label {
		display: block;
	}
}