@mixin colores ($color, $colorSec) {

	#head {
		padding:15px;
		border: 10px solid $color;
		h1 {
			font-size: 80px;
			color: $color;
			font-weight: bold;
		}
		p {
			color: $color;
			font-weight: bold;
			i {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}

	#addi {
		background-color: $color;
		padding: 10px;
		.instrucciones {
			color: white;
			ul {
				li {
				list-style: none;
				}
			}
		}
		.input-group {
			margin: 0 auto;
			padding: 10px;
			input {
				margin-top:30px;
				margin-bottom: 30px;
				&:focus {
					color: $color;
				}
			}
			.input-group-btn {
				.btn-addi {
					font-weight: bold;
					color: $color;
				}
			}
		}
	}

	#added {
		padding: 10px;	
		border: 10px solid $color;
		.tareaNueva {
			margin: 0 auto;
			width: 300px;
			color: $color;
			padding: 10px;
			line-height: 20px;
			a {
				color: $color;
				font-size:20px;
				&:hover {
					color: $colorSec;
				}
			}
			b {
				margin-left: 10px;
				margin-right: 10px;
				&.terminado {
					text-decoration: line-through;
				}
			}
		}
	}
};